.acerca {
    text-align: center;
  }
  
.acerca h2 {
    margin-bottom: 20px;
    color:#c14343;
}
  
.acerca p {
    margin-bottom: 20px;
    color:darkgoldenrod;
}
  
.acerca img{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}