.tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
  
.tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.tip img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}
  
.tip h3 {
    margin-top: 10px;
}
  
.tip p {
    margin-top: 10px;
}
